@import 'responsive';

// -- colors
$background-color: #333;
$default-letter: #e9e9e9;
$base-red:#b40000;

// -- fotns
$font-family: 'Roboto', sans-serif;
$font-family-secondary: 'Ubuntu', sans-serif;

// -- values
$section-heigh:1000px;
$full-page-section-heigh:650px;


*{
    margin: 0;
    padding: 0;
}

h1, h2, h3,p,b,span,a{
    color: $default-letter;
    font-family: $font-family;
}

body{
    background-color: $background-color;
}

@mixin section{

    border: 1px solid $base-red;

    @include breakpoint(small) { 
        height: $section-heigh;
    }

    @include breakpoint(medium) { 
        height: $full-page-section-heigh;
    }
    
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin horizontal-list {
    @include reset-list;
  
    li {
      display: inline-block;
      margin: {
        left: -2px;
        right: 2em;
      }
    }
  }